<!DOCTYPE html>
<html>
    <title>The Materialize NavBar Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    </script>
  <body>
    <div class="container" style="text-align: center">
      {% include 'navbar.html'  %}

      <h1>About our Website</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, ab
        mollitia vero tempora ipsa perferendis praesentium repellendus. A sint
        quas officia quo esse eos exercitationem voluptates unde illo quisquam,
        id, illum voluptatem cumque reiciendis ad assumenda, aspernatur
        molestiae. Vitae quidem suscipit, culpa illum ullam ipsa cum quis
        voluptatum dolorem possimus?
      </p>
      <button>Contact US</button>
    </div>
  </body>
</html>